<footer>
    <div class="bottom-footer">
        <div class="container">
            <div class="copyright">
                ©{{ "now"|date("Y") }} Kalvacha Store - Всички права запазени
            </div>
        </div>
    </div>
</footer>