<header>
    <div class="top-header">Top Header</div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">Logo</div>
            <div class="col-md-6">Search</div>
            <div class="col-md-3">User Menu</div>
        </div>
    </div>
</header>
