

/*Global styles*/

a{
    transition: all .3s;
}

a:hover, a:focus, a:active{
    text-decoration: none;
    opacity: 0.6;
}

ul {
    list-style: none;
    padding-left: 0;
}

.flash-notice {
    background: #f1f1f1;
    color: #616161;
    padding: 15px;
    margin-bottom: 5px;
}

.flash-success {
    background: #d1f1d1;
}

.flash-error {
    background: #ffd9d9;
}

.flash-warning {
    background: #ffebc2;
}

.float-right {
    float: right;
}

/*Helper classes*/

.inline-block {
    display: inline-block;
}



/*HomePage*/

ul.random-home-promotion-products{
    text-align: center;
}
.random-home-promotion-products li{
    width: 23%;
    display: inline-block;
    padding: 20px;
    border-right: 1px solid #ccc;
}

.random-home-promotion-products li:last-child{
    border-right: 0;
}

.random-home-promotion-products li .rand_products_image{
    height: 250px;
    overflow: hidden;
}

.random-home-promotion-products .old-price {
    font-size: 18px;
}

.random-home-promotion-products .promo-price {
    text-align: center;
    font-size: 22px;
    color: #720000;
}

.promo-block h2 {

    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

/*Header*/

header {
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}

.main-header {
    padding-bottom: 15px;
    padding-top: 15px;
}

.top-header {
    background: #e1e8ef;
    padding: 5px 0;
    color:#6f6f6f;
}


.header-search {
    margin-top: 25px;
}

.categories-wrap {
    width: 35%;
}

.search-wrap {
    width: 60%;
    position: relative;
}

.search-btn {
    position: absolute;
    right: 4px;
    top:6px;
    background: #fff;
    border: none;
}

.user-area {
    margin-top: 24px;
    text-align: right;
}

.user-area a:hover {
    color:#fff;
    opacity: 0.7;
}

.header-login-btn {
    display: block;
    float: left;
    padding: 7px 20px;
    background: #FF7200;
    color:#fff;
}

.header-register-btn {
    display: block;
    float: left;
    padding: 7px 20px;
    background: #004D8C;
    color:#fff;
}

.header-cart {
    background: #446C04;
}

.header-cart a {
    padding: 5px;
    color:#fff;
}

.header-cart > a {
    display: block;
    float: left;
    padding: 6px;
    color: #fff;
    font-size: 18px;
    height: 34px;
    width: 34px;
    text-align: center;
}

#user_menu {
    position: relative;
}

#user_menu ul {
    display: none;
    position: absolute;
    z-index: 99;
    background: #FF7200;
    width: 213px;
    top:34px;
    text-align: left;
    border-top: 1px solid #fff;
}

#user_menu ul a{
    display: block;
    padding: 8px 10px;
    color:#fff;
    font-size: 14px;
}

.header-categories-menu {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#006485+0,7db9e8+100 */
    background: #006485; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #006485 0%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #006485 0%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #006485 0%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006485', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.header-categories-menu ul {
    margin-bottom: 0;
}

.header-categories-menu ul li {
    display: inline-block;
}

.header-categories-menu ul li a{
    color: #fff;
    display: block;
    padding: 10px 10px;
    font-size: 16px;
    text-transform: uppercase;
}

.mini-cart-count {
    position: absolute;
    background: #ff7200;
    color:#fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    right: 0;
    bottom: 0;
    z-index: 9;
}

.mini-cart-list {
    display: none;
    color:#fff;
    position: absolute;
    background: #446c04;
    right: 15px;
    top: 58px;
    width: 330px;
    padding: 0 15px;
    padding-top: 15px;
    text-align: left;
    z-index: 8;
}

.mini-cart-image img, .mini-cart-price, .mini-cart-symbol, .mini-cart-qty {
    vertical-align: top;
}


.mini-cart-list ul li {
    display: block;
    margin-bottom: 15px;
}

.mini-cart-name {
    display: inline-block;
    width: 140px;
}
.mini-cart-qty, .mini-cart-symbol {
    display: inline-block;
    width: 15px;
}

/*Edit user*/

.edit-product-img h4 {
    text-align: center;
    color: #ccc;
}


/*Category list*/

.category-block-nav {
    text-align: right;
}

.category-block-nav li{
    display: inline-block;
    margin-left: 15px;
}


.category-block-products li{
    display: inline-block;
    width: 264px;
    border: 1px solid #f3f3f3;
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 5px;
    transition: all .5s;
}

.category-block-products li:hover {
    -webkit-box-shadow: 7px 5px 17px 0px rgba(204,204,204,1);
    -moz-box-shadow: 7px 5px 17px 0px rgba(204,204,204,1);
    box-shadow: 7px 5px 17px 0px rgba(204,204,204,1);
    opacity: 0.8;
}

.category-block-product-content {
    padding: 10px;
}

.category-block-product-price {
    margin-top: 20px;
    font-size: 16px;
    text-align: right;
    position: relative;
}

.category-block-product-content .product-title {
    height: 50px;
    overflow: hidden;
}

.category-block-product-image {
    height: 370px;
    background-size: cover;
}


span.old-price {
    position: absolute;
    right: -5px;
    top: -15px;
    font-size: 14px;
    color: #9c9c9c;
}

/*Single Product*/

.product-description #price_value {
    font-size: 18px;
}

.order-block {
    margin-top: 30px;
}

.order-form {
    margin-left: 15px;
    margin-top: 15px;
}

.order-form .row>div {
    padding-left: 0;
    padding-right: 0;
}

.single-product-reviews .review {
    background-color: #f9f9f9;
    margin-top: 10px;
    margin-bottom: 10px;
}

.single-product-reviews .review-header {
    color: #939393;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
}

.single-product-reviews .review-header>span {
    margin-right: 10px;
}
.single-product-reviews .review-header .review-rating .value {
    font-weight: bold;
    font-size: 16px;
}

.single-product-reviews .review-header i {
    margin-right: 3px;
}

.single-product-reviews .review-comment {
    padding: 15px;
}

.review-form .radio {
    display: inline-block;
    margin-right: 15px;
}



/*Sidebars*/



ul.random-sidebar-products li {
    display: block;
    overflow: auto;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
}

/*Footer*/

footer {
    margin-top: 15px;
    padding-top: 15px;
}

footer .bottom-footer {
    padding: 5px 0;
    background: #e1e8ef;
    text-align: right;
}


/*Cart*/

.cart-products-list thead th {
    text-align: center;
}

td.cart-actions {
 text-align: center;
}

.cart-action {
    display: inline-block;
}

.qty-input {
    width: 60px;
    float: left;
    margin-right: 5px;
}

.regular-price, .promo-price, .total-price {
    text-align: right;
}

.total-label, .total-value{
    text-align: right;
    font-weight: bold;
    font-size: 16px;
}

.labels {
    font-weight: bold;
}