{% extends 'layouts/backend.html.twig' %}

{% block title %}
    Добавяне на категория
{% endblock %}

{% block mainContent %}
    <h1>Добавяне на категория</h1>
    {{ form_start(categoryForm) }}
    {{ form_widget(categoryForm) }}
    <button type="submit" class="btn btn-success">Добави</button>
    {{ form_end(categoryForm) }}
{% endblock %}

 {% block stylesheets %}
 {% endblock %}

{% block javascripts %}
{% endblock %}