{% extends 'layouts/left-sidebar.html.twig' %}

{% block title %}
    Вход
{% endblock %}

{% block leftSidebar %}
    Left Sidebar
{% endblock %}

{% block mainContent %}
    <h1>Вход</h1>
    {% if error %}
        <div class="flash-notice flash-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <form action="{{ path('user_login') }}" method="post">
        <div class="form-group">
            <label for="email">Емайл:</label>
            <input type="email" class="form-control" id="email" name="_username" placeholder="Въведете Вашия Емайл адрес" value="{{ last_username }}" />
        </div>

        <div class="form-group">
            <label for="password">Парола:</label>
            <input type="password" class="form-control" id="password" name="_password" placeholder="Въведете Вашия парола" value="" />
        </div>

        <input type="hidden" name="_target_path" value="{{ path('homepage') }}" />

        <button type="submit" class="btn btn-success">Вход</button>
    </form>
{% endblock %}

 {% block stylesheets %}
 {% endblock %}

{% block javascripts %}
{% endblock %}


