{% extends 'layouts/left-sidebar.html.twig' %}

{% block title %}
Регистрация
{% endblock %}

{% block leftSidebar %}
    Left Sidebar
{% endblock %}

{% block mainContent %}
    <h1>Регистрация на потребител</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Register" />
        {{ form_end(form) }}
{% endblock %}

 {% block stylesheets %}
 {% endblock %}

{% block javascripts %}
{% endblock %}